@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans-jp);
}

pre {
  font-family: var(--font-noto-sans-jp);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.pre-wrap {
  font-family: var(--font-noto-sans-jp);
  white-space: pre-wrap;
}

.markdown-content ol,
.markdown-content ul {
  margin-bottom: 0;
}

.markdown-content li {
  margin-bottom: 0.25rem; /* Tailwindのmb-1に相当 */
}